﻿@*@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "InternalServerError";
}

<h3>
    Sorry, an unexpected error occurred while processing your request.
</h3>


@if (Model != null)
{
    <h4> Please click <a href="/@Model.ControllerName">here</a> to return or <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
}
else
{
    if (Request.UrlReferrer != null && !string.IsNullOrEmpty(Request.UrlReferrer.PathAndQuery))
    {
        <h4> Please click <a href="@Request.UrlReferrer.PathAndQuery">here</a> to go back.</h4>
    }
    else
    {
        <h4> Please click <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
    }
}
