﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "AccessDenied";
}

<h2>You do not have access to this resource.</h2>


@if (Model != null)
{
    <h4> Please click <a href="/@Model.ControllerName">here</a> to return or <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
}
else
{
    if (Request.UrlReferrer != null && !string.IsNullOrEmpty(Request.UrlReferrer.PathAndQuery))
    {
        <h2> Please click <a href="@Request.UrlReferrer.PathAndQuery">here</a> to go back.</h2>
    }
    else
    {
        <h4> Please click <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
    }
}