﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "NotFound";
}

<h3>The URL you have requested was not found.</h3>

<p></p>

@if (Model != null)
{
    <h4> Please click <a href="/@Model.ControllerName">here</a> to return or <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
}
else
{
    if (Request.UrlReferrer != null && !string.IsNullOrEmpty(Request.UrlReferrer.PathAndQuery))
    {
        <h4> Please click <a href="@Request.UrlReferrer.PathAndQuery">here</a> to go back.</h4>
    }
    else
    {
        <h4> Please click <a href="@Url.Action("Index","Home")">here</a> to go back to the home page.</h4>
    }
}