﻿@model PagedList.IPagedList<EmployeeDirectory.Models.Employee>
@using EmployeeDirectory.Utilities
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
@{
    ViewBag.Title = "Index";
}
@helper Truncate(string input, int length)
{
    if (!string.IsNullOrEmpty(input))
    {
        if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<a href="#"> ...</a>
        }

    }

}


<h2>Index</h2>
@if (this.IsAdmin())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    @*@Html.HiddenFor(m => m.id)*@
    <p>
      
        Find Employee: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
       

        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @if (Model.Any())
    {
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        
       
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
          
            <th>
                Address
            </th>

            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th>
                Email
            </th>
            <th>
                Work #
            </th>
            <th>
                Mobile #
            </th>

            <th></th>
        </tr>
    }
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneCell)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                    @if (this.IsAdmin())
                    {

                        @Html.Raw("| ")  @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @Html.Raw(" | ")
                       @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 

                }
                    

                    
                </td>
            </tr>
    }

    </table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div id="dialog-edit" style="display: none"></div>
<script src="~/Scripts/Custom/partialview.js"></script>