﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Directory</h1>
    <p class="lead">An internal employee directory so all of our employees can search our database of 30,000 employees.</p>
    <p>
        Only HR representatives can edit info. Other users can only view details.
    </p>
    <p><a href="http://www.headspring.com/" class="btn btn-primary btn-large">Click Here to view details &raquo;</a></p>
</div>
